
<div class="container d-flex">

  <div class="col-11">

    <br/>
    <div class="row">
      <div class="col-md-12">
        <div class="container-fluid" >

          <h3 class="text-title">
            {{titulo}}
          </h3>

            <mat-form-field appearance="fill" class="col-md-5">
              <mat-label>Nombre</mat-label>
              <input matInput type="text" [(ngModel)]="paciente.nombre">

              <!-- para validar la entrada -->
              <mat-error *ngIf="textFormControl.hasError('required')">
                El nombre es <strong>requerido</strong>
              </mat-error>
            </mat-form-field>
            &nbsp;
            <mat-form-field appearance="fill" class="col-md-5">
              <mat-label>Apellido</mat-label>
              <input matInput type="text" [(ngModel)]="paciente.apellido">

              <!-- para validar la entrada -->
              <mat-error *ngIf="textFormControl.hasError('required')">
                El apellido es <strong>requerido</strong>
              </mat-error>
            </mat-form-field>
            &nbsp;
            <mat-form-field appearance="fill" class="col-md-5">
              <mat-label>Teléfono</mat-label>
              <input matInput type="text" [(ngModel)]="paciente.telefono">

              <!-- para validar la entrada -->
              <mat-error *ngIf="textFormControl.hasError('required')">
                El teléfono es <strong>requerido</strong>
              </mat-error>
            </mat-form-field>
            &nbsp;
            <mat-form-field appearance="fill" class="col-md-5">
              <mat-label>Email</mat-label>
              <input matInput type="text" [(ngModel)]="paciente.email">

              <!-- para validar la entrada -->
              <mat-error *ngIf="textFormControl.hasError('required')">
                El email es <strong>requerido</strong>
              </mat-error>
            </mat-form-field>
            &nbsp;
            <mat-form-field appearance="fill" class="col-md-5">
            <mat-label>RUC</mat-label>
            <input matInput type="text" [(ngModel)]="paciente.ruc">

              <!-- para validar la entrada -->
              <mat-error *ngIf="textFormControl.hasError('required')">
                  El RUC es <strong>requerido</strong>
              </mat-error>
            </mat-form-field>
            &nbsp;
            <mat-form-field appearance="fill" class="col-md-5">
              <mat-label>Cédula</mat-label>
              <input matInput type="text" [(ngModel)]="paciente.cedula">

              <!-- para validar la entrada -->
              <mat-error *ngIf="textFormControl.hasError('required')">
                La cédula es <strong>requerida</strong>
              </mat-error>
            </mat-form-field>
            &nbsp;
            <mat-form-field appearance="fill" class="col-md-5">
                <mat-label>Tipo Persona</mat-label>
                <mat-select [value]="paciente.tipoPersona" [(ngModel)]="paciente.tipoPersona"
                            [compareWith]="compararObjetosTipoPersona">
                  <mat-option *ngFor="let l of listatipoPersona" [value]="l">
                    {{ l.toString() }}
                  </mat-option>
                </mat-select>

              <!-- para validar la entrada -->
              <mat-error *ngIf="textFormControl.hasError('required')">
                El tipo persona es <strong>requerido</strong>
              </mat-error>
            </mat-form-field>
            &nbsp;
            <mat-form-field appearance="fill" class="col-md-5">
            <mat-label>Fecha de Nacimiento</mat-label>
              <input matInput [matDatepicker]="picker" [(ngModel)]="fecha" [max]="maxDate" placeholder="mm/dd/aaaa" [value]="date.value">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>

              <!-- para validar la entrada -->
              <mat-error *ngIf="textFormControl.hasError('required')">
                La fecha de nacimiento es <strong>requerida</strong>
              </mat-error>
            </mat-form-field>



          <div class="col-md-6 d-flex justify-content-around">
            <button type="button" class="btn btn-primary btn-sm"
                    (click)="guardar()">Guardar
            </button>
            <button type="button" class="btn btn-danger btn-sm"
                    (click)="atras()">Cancelar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

