<!-- titulo---->
<br>
<div class="d-flex justify-content-center">
  <h2 class="text-title">
    {{ titulo }}
  </h2>
</div>

<!-- el contenido -->
<div class="mx-4 mat-elevation-z8 col-md-25 mt-3">

  <br>
  <h4 class="text-title m-3">
    Filtros de búsqueda
  </h4>

  <!-- la sección para el filtro -->
  <div class="container col-10">
    <!-- la primera fila -->
    <div class="row align-items-center">

      <!-- fecha desde -->
      <div class="col-lg-1"> Fecha desde:</div>
      <div class="col-lg-5">
        <mat-form-field appearance="fill" style="width: 100%">
          <mat-label>Fecha</mat-label>
          <input matInput [matDatepicker]="pickerDesde" [(ngModel)]="fechaDesde" placeholder="dd/mm/aaaa">
          <mat-datepicker-toggle matSuffix [for]="pickerDesde"></mat-datepicker-toggle>
          <mat-datepicker #pickerDesde></mat-datepicker>
        </mat-form-field>
      </div>

      <!-- fecha hasta -->
      <div class="col-lg-1"> Fecha hasta:</div>
      <div class="col-lg-5">
        <mat-form-field appearance="fill"  style="width: 100%">
          <mat-label>Fecha</mat-label>
          <input matInput [matDatepicker]="pickerHasta" [(ngModel)]="fechaHasta" placeholder="dd/mm/aaaa">
          <mat-datepicker-toggle matSuffix [for]="pickerHasta"></mat-datepicker-toggle>
          <mat-datepicker #pickerHasta></mat-datepicker>
        </mat-form-field>
      </div>
    </div>

    <!-- la segunda fila -->
    <div class="row align-items-center">

      <!-- Empleado -->
      <div class="col-lg-1"> Empleado:</div>
      <div class="col-lg-5">
        <mat-form-field appearance="fill" style="width: 75%">
          <input matInput disabled="true" placeholder="{{empleado ? empleado.nombre : ''}}">
        </mat-form-field>
        &nbsp;<button mat-raised-button color="primary" (click)="popupElegirEmpleado()">Buscar</button>
      </div>

      <!-- Cliente -->
      <div class="col-lg-1"> Cliente:</div>
      <div class="col-lg-5">
        <mat-form-field appearance="fill" style="width: 75%">
          <input matInput disabled="true" placeholder="{{cliente ? cliente.nombre : ''}}">
        </mat-form-field>
        &nbsp;<button mat-raised-button color="primary" (click)="popupElegirCliente()">Buscar</button>
      </div>

    </div>
<br>
    <!-- la tercera fila -->
    <div class="row justify-content-md-center">

      <!-- Categoría -->
      <div class="col-lg-6">
        <mat-form-field appearance="fill" style="width: 100%">
          <mat-label>Categoría</mat-label>
          <!-- para traer las subcategorías al seleccionar una categoría, se usa el (selectionChange) -->
          <mat-select [value]="categoria" [(ngModel)]="categoria" (selectionChange)="traerSubcategorias()">
            <mat-option *ngFor="let l of listaCategorias" [value]="l">
              {{ l.descripcion }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <!-- Subcategoría -->
      <div class="col-lg-6">
        <mat-form-field appearance="fill" style="width: 100%">
          <mat-label>Subcategoría</mat-label>
          <mat-select [value]="subcategoria" [(ngModel)]="subcategoria">
            <mat-option *ngFor="let l of listaSubcategorias" [value]="l">
              {{ l.descripcion }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

    </div>

    <!----los botones de agregar ficha, buscar y limpiar---->
    <div class="row justify-content-between">

      <div class="col-lg-8">
        <button type="button" class="m-3 btn btn-success btn" routerLink="../nueva">Agregar Ficha</button>
      </div>

      <div class="col-lg-4">
        <button type="button" (click)="filtrarTabla()" class="m-3 btn btn-primary btn">Buscar</button>
        <button type="button" (click)="limpiarFiltros()" class=" m-3 btn btn-danger btn">Limpiar</button>
      </div>

    </div>

  </div>


  <!-- la tabla -->
  <div class="mx-4 mat-elevation-z8 col-md-25">

    <mat-table [dataSource]="listaFichasClinicas" class="col-md-25 mat-elevation-z1" matSort
               (matSortChange)="sortChange($event)">

      <ng-container matColumnDef="fechaHora">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.fechaHoraCadenaFormateada}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="idEmpleado">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Profesional </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.idEmpleado.nombreCompleto}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="idCliente">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Cliente </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.idCliente.nombreCompleto}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="idTipoProducto.idCategoria">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Categoría </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.idTipoProducto.idCategoria.descripcion}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="idTipoProducto">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Subcategoría </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.idTipoProducto.descripcion}} </mat-cell>
      </ng-container>

      <!----columna acciones---->
      <ng-container matColumnDef="acciones">
        <mat-header-cell *matHeaderCellDef> Acciones </mat-header-cell>
        <mat-cell *matCellDef="let element" >
          <div>
            <button class="btn btn-primary btn-sm m-2" [routerLink]="'../'+ element.idFichaClinica + '/editar'">
              Editar
            </button>
            <button class="btn btn-success btn-sm m-2" [routerLink]="'../'+ element.idFichaClinica + '/servicio'">
              Crear Servicio
            </button>
          </div>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

      <!-- Row shown when there is no matching data. -->
      <mat-row *matNoDataRow>
        <mat-cell colspan="4">No hay fichas clínicas...</mat-cell>
      </mat-row>
    </mat-table>

    <mat-paginator (click)="habilitarPaginado()" [disabled]="deshabilitarPaginado" (page)="cambioPaginacion()"
                   [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Página de fichas"></mat-paginator>
  </div>

</div>


<br>
<br>
<br>
<br>
