<mat-toolbar>
    <button
      mat-icon-button
      *ngIf="sidenav.mode === 'over'"
      (click)="sidenav.toggle()"
    >
      <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
      <mat-icon *ngIf="sidenav.opened">close</mat-icon>
    </button>
    <span>Equipo Front</span>

  </mat-toolbar>

  <mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav">

      <button mat-button routerLink="/categoria" class="menu-button">
        <mat-icon>category</mat-icon>
        <span>Categorias</span>
      </button>

      <button mat-button class="menu-button">
        <mat-icon>healing</mat-icon>
        <span>Servicios</span>
      </button>

      <button mat-button class="menu-button">
        <mat-icon>person</mat-icon>
        <span>Pacientes</span>
      </button>

      <button mat-button class="menu-button">
        <mat-icon>event</mat-icon>
        <span>Horarios</span>
      </button>

      <mat-divider></mat-divider>

      <button mat-button routerLink="/cositas" class="menu-button">
        <mat-icon>star</mat-icon>
        <span>MIRAR!!!</span>
      </button>

    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
