<mat-toolbar>
    <button
      mat-icon-button
      *ngIf="sidenav.mode === 'over'"
      (click)="sidenav.toggle()"
    >
      <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
      <mat-icon *ngIf="sidenav.opened">close</mat-icon>
    </button>
    <span>Equipo Front</span>

  </mat-toolbar>

  <mat-sidenav-container>

    <!------sidenav, esto esta fijo----->
    <mat-sidenav #sidenav="matSidenav">


      <!--Lista expandible para las categorías y subcategorías.
      Se ocultan o desocultan cosas con categoriaIsExpanded -->

      <button mat-button class="menu-button" (click)="categoriaIsExpanded = !categoriaIsExpanded">
        <mat-icon *ngIf="!categoriaIsExpanded">category</mat-icon>
        <mat-icon *ngIf="categoriaIsExpanded">list</mat-icon>   <!-- para cambiar el ícono si se expande -->
        <span>Categorías</span>
      </button>

      <!---routerlink lleva a la direccion http://localhost:4200/categoria ------>
      <button *ngIf="categoriaIsExpanded" mat-button routerLink="/categoria" class="menu-button"
              (click)="categoriaIsExpanded = !categoriaIsExpanded">
        &nbsp;
        <mat-icon>navigate_next</mat-icon>
        <span>Gestionar Categorías</span>
      </button>

      <button *ngIf="categoriaIsExpanded" mat-button routerLink="/subcategoria" class="menu-button"
              (click)="categoriaIsExpanded = !categoriaIsExpanded">
        &nbsp;
        <mat-icon>navigate_next</mat-icon>
        <span>Gestionar Subcategorías</span>
      </button>


      <!-- Los demás items -->

      <!---routerlink lleva a la direccion http://localhost:4200/servicio ------>
      <button mat-button routerLink="/servicio" class="menu-button">
        <mat-icon>healing</mat-icon>
        <span>Servicios</span>
      </button>




      <!---routerlink lleva a la direccion http://localhost:4200/persona ------>
      <button mat-button routerLink="/paciente" class="menu-button">
        <mat-icon>person</mat-icon>
        <span>Pacientes</span>
      </button>

      <button mat-button routerLink="/reserva-turno" class="menu-button" >
        <mat-icon>event</mat-icon>
        <span>Reservas</span>
      </button>

      <button mat-button routerLink="/ficha-clinica" class="menu-button">
        <mat-icon>list_alt</mat-icon>
        <span>Fichas</span>
      </button>

      <mat-divider></mat-divider>

      <button *ngIf="estaLogueado()" mat-button routerLink="/logout" class="menu-button">
        <mat-icon>logout</mat-icon>
        <span>Logout</span>
      </button>

      <button mat-button routerLink="/cositas" class="menu-button">
        <mat-icon>star</mat-icon>
        <span>MIRAR!!!</span>
      </button>

    </mat-sidenav>

    <!----pantalla pricipal---->
    <mat-sidenav-content>
        <router-outlet></router-outlet> <!----- aqui se insertan las pantallas de crud de categorias, subcategorias, etc. ---->
    </mat-sidenav-content>
  </mat-sidenav-container>
