

    <div class="row">

        <div class="container-fluid">

          <br>
          <h2 class="text-title d-flex justify-content-around">
            <span> Reserva de turnos</span>
          </h2>

          <p>CAMBIAR A POP UP</p>
          <!--filtro-->
          <div #filtro>

            <mat-form-field appearance="fill" >
              <mat-label>Seleccionar profesional</mat-label>

              <mat-select [(ngModel)]="idProfesional"  [formControl]="profesionalFormControl">
                <mat-option *ngFor="let p of profesionales" [value]="p.idPersona">
                   {{ p.idPersona}} - {{ p.nombre }} {{ p.apellido }}
                </mat-option>

              </mat-select>

              <mat-error *ngIf="profesionalFormControl.hasError('required')">
                El profesional es <strong>requerido</strong>
              </mat-error>

            </mat-form-field>


            <mat-form-field appearance="fill">
              <mat-label>Fecha</mat-label>
              <input matInput [matDatepicker]="picker" [(ngModel)]="fecha" placeholder="dd/mm/aaaa" [formControl]="fechaFormControl">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>

              <mat-error *ngIf="fechaFormControl.hasError('required')">
               La fecha es <strong>requerida</strong>
              </mat-error>

            </mat-form-field>


            <div class="d-flex justify-content-around">
              <button mat-button (click)="filtrar()"> <mat-icon>search</mat-icon> </button>
              <!---<button mat-button (click)="limpiarFiltro()"> <mat-icon>clear_all</mat-icon></button>---->
            </div>



          </div>

          <br>

          <!---tabla -->
          <div *ngIf="agenda.length>0" class="mx-4 mat-elevation-z8 col-md-25">

            <mat-table [dataSource]="agenda" class="col-md-25 mat-elevation-z1">


              <!---<ng-container matColumnDef="idReserva">
                <mat-header-cell *matHeaderCellDef> ID reserva </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.idReserva}} </mat-cell>
              </ng-container>--->

              <ng-container matColumnDef="fecha">
                <mat-header-cell *matHeaderCellDef> Fecha </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{ row.fecha.split(' ')[0] }} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="horaInicio">
                <mat-header-cell *matHeaderCellDef> Inicio </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{ row.horaInicio.split(' ')[1] }} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="horaFin">
                <mat-header-cell *matHeaderCellDef> Fin </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{ row.horaFin.split(' ')[1] }} </mat-cell>
              </ng-container>

              <!----columna acciones---->
              <ng-container matColumnDef="acciones">
                <mat-header-cell *matHeaderCellDef> Acciones </mat-header-cell>
                <mat-cell *matCellDef="let element" >
                  <div>
                    <button class="btn btn-primary btn-sm m-2" [routerLink]="">
                      Reservar
                    </button>
                  </div>
                </mat-cell>
              </ng-container>

              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

            </mat-table>


          </div>


          <!---- en caso de que no haya elementos para mostrar---->
          <div *ngIf="agenda.length==0" class="d-flex justify-content-center">
            <h3 class="text-title">
              No hay turnos libres
            </h3>
          </div>


          <!--
          <div class="d-flex justify-content-around">
            <button type="button" class="btn btn-primary btn-sm"
                    (click)="guardar()">Guardar
            </button>
            <button type="button" class="btn btn-danger btn-sm"
                    (click)="atras()">Cancelar
            </button>
          </div>---->

        </div>

    </div>

    <br><br><br>
