<div class="container d-flex">

  <div class="col-11">

    <br/>
    <div class="row">
      <div class="col-md-12">
        <div class="container-fluid">


          <!-----titulo------>
          <h3 class="text-title">
            Editar subcategoría
          </h3>

          <!--- Seleccionar categoría ---->
          <p>Seleccione la categoría:</p>
          <mat-form-field appearance="fill" class="col-md-6">
            <mat-label>Seleccionar categoría</mat-label>
            <mat-select [value]="subcategoria.idCategoria" [(ngModel)]="subcategoria.idCategoria"
                        [compareWith]="compararObjetosCategorias">
              <mat-option *ngFor="let l of listaCategorias" [value]="l">
                {{ l.descripcion }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <p>Escriba la descripción:</p>
          <mat-form-field appearance="fill" class="col-md-6">

            <mat-label>Ingresar texto</mat-label>
            <input matInput type="text" [(ngModel)]="subcategoria.descripcion"  [formControl]="textFormControl">

            <!-- para validar la entrada -->
            <mat-error *ngIf="textFormControl.hasError('required')">
              La descripción es <strong>requerida</strong>
            </mat-error>

          </mat-form-field>
          <br>
          <br>
          <!----las funciones guardar y atras serán llamadas ante el evento click---->
          <div class="col-md-6 d-flex justify-content-around">
            <button type="button" class="btn btn-primary btn-sm"
                    (click)="guardar()">Guardar
            </button>
            <button type="button" class="btn btn-danger btn-sm"
                    (click)="atras()">Cancelar
            </button>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
